.homeDiv{
  height:100vh;
  position: relative;
  background: url('~/assets/suits.jpg') no-repeat top left;
  background-size: cover;
  margin-top: -10px;
  margin-left: -11px;
  margin-right: -6px;
}
