/* You can add global styles to this file, and also import other style files */

.homeDiv{
  height:94vh;
  position: relative;
  background: url('./assets/suits.jpg') no-repeat top left;
  background-size: cover;
  margin-top: -10px;
  margin-left: -11px;
  margin-right: -6px;
}

.card{
  margin: 0 10px 0 10px;
  opacity: 0.92
}
