<div class="homeDiv">
  <br>
  <div class="layout-main-content">
    <div class="card card-w-title">
      <h1>New order</h1>
      <p-dataTable [value]="customers" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" (onRowSelect)="onRowSelect($event)">
          <p-header>Search and select your customer</p-header>
          <p-column field="firstName" header="First name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search..."></p-column>
          <p-column field="lastname" header="Last name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search..."></p-column>
          <p-column field="customerEmail" header="E-mail" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search..."></p-column>
          <p-column field="phoneNumber" header="Phone" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search..."></p-column>
          <p-column field="streetAddress" header="Address" [sortable]="true"></p-column>
          <p-column field="zipCode" header="Zipcode" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search..."></p-column>

      </p-dataTable>
      <br>
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="ui-icon-contacts" class="teal-btn flat" style="float:left" (click)="newCustomer()" label="New customer"></button>
        <button type="button" pButton icon="ui-icon-arrow-forward" style="float:right" (click)="newOrder()" label="Continue"></button>
      </div>
    </div>
  </div>
</div>
